<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fortunewheel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07999FEB21E2154B0054C90E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07999FFF21E2154C0054C90E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0799A00A21E2154C0054C90E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
